<!DOCTYPE html>
<html lang="en">
<head>
    <title><%= title %></title>
</head>
<body>
    <h2><%= title %></h2>
    <ul>
        <% messages.forEach(message => { %>
            <li>
                <%= message.text %>
                <%= message.user %>
                <%= message.added.toLocaleString() %>
                <a href="/details/<%= message.id %>">More details..</a>
            </li>
        <%})%>
    </ul>
    <a href="/new">Add new Message</a>
</body>
</html>